################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WeatherForecast.API/bin/Debug/netcoreapp2.1
/WeatherForecast.API/obj/Debug/netcoreapp2.1
/WeatherForecast.API/obj
